{% extends 'MetabolicApp/base.html' %}

{% block title %}Viewing Patient Request - Metabolic App{% endblock %}

{% block content %}
    <h1>
    {{ entry.entry_type }} from {{ patient.first_name }} {{ patient.last_name }}
    </h1>
    <ul>
        <li>NHS no:{{ patient.NHS_no }}</li>

        <li>DOB: {{ patient.DoB }}</li>
    </ul>
        <form method="post">
            <input type="submit" name="option" value="Accept"/>
            <input type="submit" name="option" value="Reject"/>
        </form>
    <a href="{% url 'Metabolic_App:view_inbox' %}"><button type="button">Back</button></a>
    <p>Note: Back will not remove entry from inbox.</p>


{% endblock %}